@import '../node_modules/material-colors/dist/colors';

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: $md-grey-300;

    button {
        background-color: transparent;
        border: 0;
        margin-bottom: 10px;

        img {
            height: 30px;
        }
    }
}